{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["lib.es5.d.ts"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "quote-props": ["off"],
    "operator-linebreak": ["off"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": [ "error", 4 ],
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
